@font-face { 
	font-family: 'Dosis';
	src: url('../fonts/Dosis/Dosis-VariableFont_wght.ttf'); 
}

body {
	background-color: #dee3e0; 
	font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

footer {
	background-color: rgba(255,255,255,0.5);
	color: #fff;
	text-align: center;
	padding: 10px;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	width: 100%;
}